@use "../mixins" as *;

.partners {
  &__layout {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  &__intro,
  &__intro > div:last-child {
    display: contents;
  }

  &__intro > div:first-child {
    order: 1;
    width: 100%;
    margin: 0 auto 24px !important;
    text-align: center;
  }

  &__intro h2,
  &__intro h3,
  &__intro h4,
  &__intro h5 {
    line-height: 1.2;
  }

  &__intro p:not(.eyebrow) {
    order: 2;
    width: 100%;
    margin: 0 auto;
    font-size: 1.25rem;
    text-align: center;
  }

  &__intro .button-row {
    order: 4;
    justify-content: center;
    margin-top: 48px;
  }
}

.button-row {

  .btn {
    font-weight: 600;
    
  }

}

.partner-swiper {
  order: 3;
  width: 100%;
  margin-top: 32px;
  overflow: hidden;

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    display: block;
    height: 100px;
    padding: 14px;
    background: var(--bim-white);
    object-fit: contain;
  }
}

@include md-down {
  .partners {
    &__intro p:not(.eyebrow) {
      font-size: 1.0625rem;
    }

    &__intro .button-row {
      margin-top: 40px;
    }
  }

  .partner-swiper {
    margin-top: 48px;
  }
}
