@use "../mixins" as *;

.feature-section {
  position: relative;
  overflow: hidden;
  background: var(--bim-pale-pink);

  &::before,
  &::after {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    content: "";
    pointer-events: none;
  }

  &::before {
    top: 0;
    height: clamp(18px, 2.103vw, 30.278px);
    background-image: url("/assets/images/design/sections/feature-section-wave-top.svg");
  }

  &::after {
    bottom: 0;
    height: clamp(25px, 2.917vw, 42px);
    background-image: url("/assets/images/design/sections/feature-section-wave-bottom.svg");
  }

  > .container-fluid {
    position: relative;
    z-index: 1;
  }

  &__visual {
    position: relative;
    padding: 2rem 0 0 2rem;

    span {
      position: absolute;
      inset: 0 2.5rem 2.5rem 0;
      background: var(--bim-yellow);
      border-radius: 0 16px;

      &.feature-section__visual-accent--blue {
        background: var(--bim-blue);
      }
    }

    img {
      position: relative;
      width: 100%;
      aspect-ratio: 1.04;
      object-fit: cover;
      border-radius: 0 16px;
    }
  }

  &__visual--focus-left img {
    object-position: 5% center;
  }

  &__copy {
    > p:not(.eyebrow) {
      margin-top: 1.75rem;
      font-size: 1.25rem;
      font-weight: 500;
    }
    > li {
      font-size: 1.25rem;
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.75rem;
  }

  &__stat {
    p {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.5;
    }

    .feature-section__stat-heading {
      color: var(--bim-green);
      font-size: clamp(2.5rem, 3.34vw, 3rem);
      font-weight: 700;
      line-height: 1.2;
    }
  }
}

.feature-section.feature-section--green {
  background: var(--bim-pale-green);

  &::before {
    background-image: url("/assets/images/design/sections/feature-section-wave-top-green.svg");
  }

  &::after {
    height: clamp(16px, 1.83vw, 26.354px);
    background-image: url("/assets/images/design/sections/feature-section-wave-bottom-green.svg");
    transform: rotate(180deg);
  }

  .support-card h3 {
    color: var(--bim-blue);
  }
}

.feature-section.feature-section--cream {
  background: var(--bim-pale-cream);

  &::before {
    background-image: url("/assets/images/design/sections/feature-section-wave-top-cream.svg");
  }

  &::after {
    height: clamp(16px, 1.83vw, 26.354px);
    background-image: url("/assets/images/design/sections/feature-section-wave-bottom-cream.svg");
    transform: rotate(180deg);
  }

  .support-card h3 {
    color: var(--bim-blue);
  }

}



@include lg-down {
  .feature-section {
    &__visual {
      order: 2;
    }

    &__copy {
      order: 1;
    }
  }
}
